body {
    margin-top: 20px;
}
/* About Me
---------------------*/
@media (max-width: 991px) {
    .about-text {
        margin-top: 40px;
    }
}
.about-text h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 10px;
}
@media (max-width: 767px) {
    .about-text h3 {
        font-size: 35px;
    }
}
.about-text h4 {
    font-weight: 600;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .about-text h4 {
        font-size: 18px;
    }
}
.about-text p {
    font-size: 18px;
}
.about-text p mark {
    font-weight: 600;
    color: #3a3973;
}
.about-text .btn-bar {
    padding-top: 8px;
}
.about-text .btn-bar a {
    min-width: 150px;
    text-align: center;
    margin-right: 10px;
}

.about-list {
    padding-top: 10px;
}
.about-list .media {
    padding: 5px 0;
}
.about-list label {
    color: #3a3973;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}
.about-list label:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    width: 1px;
    height: 12px;
    background: #3a3973;
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin: auto;
    opacity: 0.5;
}
.about-list p {
    margin: 0;
    font-size: 15px;
}

.about-img {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
    padding: 10px;
    background: #ffffff;
}
@media (max-width: 991px) {
    .about-img {
        margin-top: 30px;
    }
}

.counter-section {
    padding: 40px 20px;
}
.counter-section .count-data {
    margin-top: 10px;
    margin-bottom: 10px;
}
.counter-section .count {
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 10px;
}
.counter-section p {
    font-weight: 500;
    margin: 0;
    color: #fe4f6c;
}
.theme-color {
    color: #fe4f6c;
}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #ebf4fa;
}
.px-btn.theme {
    background: #fe4f6c;
    color: #ffffff;
    border: 2px solid #fe4f6c;
}
.px-btn {
    padding: 0 20px;
    line-height: 42px;
    border: 2px solid transparent;
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.px-btn.theme-t {
    background: transparent;
    border: 2px solid #fe4f6c;
    color: #fe4f6c;
}
body {
    margin-top: 20px;
}
.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #59b73f;
    text-align: center;
    border-radius: 0.3rem;
}
.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #59b73f;
    height: 41px;
    line-height: 41px;
    width: 41px;
}
.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a,
a:active,
a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

.text-secondary,
.text-secondary-hover:hover {
    color: #59b73f !important;
}
.display-25 {
    font-size: 1.4rem;
}
.text-primary,
.text-primary-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6,
.my-1-6 {
    margin-bottom: 1.6rem;
}
